.header {
  position: relative;
  padding: 28px 0 56px;
  width: 90vw;
  margin: 0 auto;
  box-sizing: content-box;
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 28px 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 28px 0 48px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 0 48px;
  }
}
